  header{
  position: absolute;
width: 564px;
height: 74px;
left: 0px;
top: 16px;

font-family: 'Lexend';
font-style: normal;
font-weight: 400;
font-size: 48px;
line-height: 60px;
text-align: center;

color: #000000;

}

.watch{
  position: absolute;
  width: 1352px;
  height: 823px;
  left: 38px;
  top: 1189px;
}

.pea{
  position: absolute;
width: 64px;
height: 62px;
left: 30px;
top: 16px;
border-radius: 18px;
}

.hidcow {
   position: absolute;
 width: 312px;
 height: 446px;
 left: 38px;
 top: 94px;

 border: 9px solid #F2CDFF;
 border-radius: 56px;
 }

 .livslug{
   position: absolute;
width: 312px;
height: 446px;
left: 1100px;
top: 574px;
border: 9px solid #FBC9FF;
border-radius: 56px;
 }


h1{
  position: absolute;
 width: 1034px;
 height: 446px;
 left: 373px;
 top: 90px;
 background: #FBC9FF;
 mix-blend-mode: multiply;
 border: 1px solid #000000;
border-radius: 52px;
}

.texto1{
position: absolute;
width: 1039px;
height: 381px;
left: 373px;
top: 106px;
font-family: 'Lexend';
font-style: normal;
font-weight: 500;
font-size: 48px;
line-height: 60px;
display: flex;
align-items: center;
text-align: center;
height: 446px;
left: 373px;
top: 90px;
color: #000000;

}

 .texto2{
   position: absolute;
width: 1030px;
height: 446px;
left: 170px;
top: 574px;

font-family: 'Lexend';
font-style: normal;
font-weight: 500;
font-size: 48px;
line-height: 60px;
display: flex;
align-items: center;
text-align: center;

color: #000000;
 }

h2{
  box-sizing: border-box;

  position: absolute;
  width: 1030px;
  height: 450px;
  left: 38px;
  top: 570px;

  background: #FBC9FF;
  mix-blend-mode: multiply;
  border: 1px solid #000000;
  border-radius: 52px;

}

.BT {
  position: absolute;
  width: 455px;
  height: 74px;
  left: 377px;
  top: 32px;

  font-family: 'Lexend';
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 40px;
  text-align: center;

  color: #000000;
}

.BT1 {
  position: absolute;
  width: 455px;
  height: 74px;
  left: 619px;
  top: 32px;

  font-family: 'Lexend';
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 40px;
  text-align: center;

  color: #000000;

}

h3{
  position: absolute;
width: 1362px;
height: 63px;
left: 50px;
top: 1089px;

font-family: 'Lexend';
font-style: normal;
font-weight: 500;
font-size: 36px;
line-height: 45px;
display: flex;
align-items: center;
text-align: center;

color: #000000;
}
